/*reset*/
*{margin:0; box-sizing: border-box;}

#product{width: 1000px; height: 830px; margin: 0 auto; border: 2px solid #666;}

#product>h3{font-size: 20px;color: green; text-align: center;}
#product>p{font-size: 20px;color: black; text-align: center;margin: 20px;}